@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/assets/vendors/css/all.min.css" rel="stylesheet" />
    <title>Privacy Policy</title>
    <style> p{
     margin: 18px 0px;
     font-size: 14px;
 }</style>
</head>
<body>
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero ipsum, fringilla sed pharetra et, congue ut mauris. Vestibulum neque risus, volutpat et ultricies non, vulputate nec velit. Morbi sagittis molestie dui at dictum. Morbi ante ante, rutrum vitae tristique in, pulvinar fermentum tellus. Sed rutrum nec purus non tempor. Curabitur pulvinar pellentesque ante sit amet rutrum. Donec sed bibendum risus. Sed ac blandit eros, sit amet tristique velit. Curabitur at laoreet turpis. Pellentesque hendrerit neque sit amet ligula sollicitudin gravida vel nec nisi. Nam dictum ut elit nec ultrices. Maecenas quis eros libero. Fusce velit risus, rutrum vel lobortis non, eleifend vel diam.
        </p>
        <p>
            Mauris venenatis dolor nulla, eget imperdiet nisl ultrices a. Suspendisse mi nulla, dignissim nec malesuada a, euismod a justo. Cras luctus, magna ac semper ornare, eros massa finibus augue, dignissim ullamcorper neque felis ut dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas posuere rhoncus metus, ut posuere enim porttitor quis. Nullam sodales purus ipsum, sed aliquet diam laoreet eu. Integer sodales euismod leo malesuada condimentum. Nullam et quam et lectus cursus facilisis. Phasellus id ornare purus. Curabitur sodales mauris et metus vulputate sollicitudin. Donec non tincidunt nunc.
        </p>
        <p>
            Quisque eleifend tortor vitae lectus dignissim dapibus. Cras in scelerisque sem, eget egestas arcu. Vivamus vel fringilla sem. Nam quis luctus dolor, in interdum nulla. Nullam ultricies, ante eu tincidunt tempus, augue risus condimentum est, non dignissim massa diam vitae ipsum. Phasellus interdum eget mi quis aliquet. Sed id diam auctor, condimentum massa sed, bibendum justo. Pellentesque scelerisque urna ac ex interdum auctor. Praesent ornare euismod odio, et ornare velit scelerisque vel. Mauris vitae ligula at purus dignissim sodales. Ut nisl tortor, luctus eget nisi sit amet, eleifend maximus nulla. Integer tempus ornare egestas. Proin blandit quis mi et iaculis.
        </p>
        <p>
            Integer luctus, lectus vel faucibus interdum, turpis massa ultricies quam, ut porttitor mauris risus et turpis. Proin in tempus elit. Morbi pellentesque ante sit amet blandit congue. Aenean at auctor justo. Mauris rhoncus justo erat, eu mollis tellus dictum sit amet. Cras id urna at orci faucibus lobortis. Nullam bibendum ultrices ipsum non scelerisque. Morbi rhoncus, augue nec finibus lobortis, massa velit blandit neque, nec hendrerit ante enim vitae felis. Praesent sit amet risus turpis. Praesent sed massa non felis tincidunt lacinia. Proin feugiat id enim vitae molestie. Cras in turpis aliquam lacus iaculis maximus. Praesent quis tortor non enim ultricies fringilla. Sed id dolor eu mi facilisis consequat a a erat. Etiam scelerisque, ligula ut fringilla volutpat, purus augue feugiat neque, nec tincidunt magna tortor in velit.
        </p>
        <p>
            Duis arcu purus, sollicitudin commodo ex eget, gravida gravida velit. Cras dapibus nulla ut posuere consectetur. Aenean eleifend, nibh ut sagittis pulvinar, massa mauris vehicula elit, a facilisis turpis ligula dictum sapien. Sed laoreet nunc eu nisl fermentum bibendum. In a augue a orci fermentum consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin enim metus, posuere ut rhoncus non, auctor a justo. In at erat non magna rutrum tempus. Mauris sit amet pellentesque mauris. Nulla quis est eget dui eleifend hendrerit nec nec quam. Suspendisse volutpat eros eu efficitur imperdiet. Vivamus elementum pharetra magna, vitae vestibulum lacus ornare lobortis. Praesent rhoncus vehicula efficitur.
        </p>

    </div>
</body>
</html>
