<div class="panel panel-default">
    <div class="panel-body text-center">
        <span class="color-hover" onclick="showSetInterestedTopics();">Complete Profile</span>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading panel-heading-gray title">
        Recent Activities
    </div>
    <div class="panel-body no-padding">
        <ul class="modal-group-list">
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/fasih.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Fasih commented on Yaqoob's post</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/BilalMateen.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Bilal endorse faisal's comment</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/AliQureshi.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Ali follows Fasih's post</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/AliMotiwala.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Ali support Afnan's comment</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/AfnanYusuf.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Afnan follow Faisal's post</div>
                </div>
            </li>
        </ul>
    </div>
</div>
