<div class="panel" id="category">
    <div class="panel-heading panel-heading-gray title">
        Categories
    </div>
    <div class="panel-body no-padding list-group " style="padding: 0px 2px 8px 2px !important;">
        @*<ul class="list-group catergories"></ul>*@
        @*<img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-01.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-02.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-03.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-04.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-05.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-06.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-07.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-08.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-09.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-10.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-11.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-12.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-13.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-14.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-15.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-16.png" />
        <img src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-17.png" />*@

        @*<img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-01.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-02.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-03.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-04.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-05.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-06.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-07.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-08.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-09.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-10.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-11.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-12.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-13.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-14.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-15.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-16.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" src="~/assets/images/goals-images/E_SDG goals_icons-individual-rgb-17.png" />*@
        <a href="/Home/Category/1">
            <img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="01" src="/assets/images/goals-images/01.png" />
        </a>
        <a href="/Home/Category/2"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="02" src="/assets/images/goals-images/02.png" /></a>
        <a href="/Home/Category/3"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="03" src="/assets/images/goals-images/03.png" /></a>
        <a href="/Home/Category/4"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="04" src="/assets/images/goals-images/04.png" /></a>
        <a href="/Home/Category/5"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="05" src="/assets/images/goals-images/05.png" /></a>
        <a href="/Home/Category/6"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="06" src="/assets/images/goals-images/06.png" /></a>
        <a href="/Home/Category/7"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="07" src="/assets/images/goals-images/07.png" /></a>
        <a href="/Home/Category/8"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="08" src="/assets/images/goals-images/08.png" /></a>
        <a href="/Home/Category/9"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="09" src="/assets/images/goals-images/09.png" /></a>
        <a href="/Home/Category/10"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="10" src="/assets/images/goals-images/10.png" /></a>
        <a href="/Home/Category/11"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="11" src="/assets/images/goals-images/11.png" /></a>
        <a href="/Home/Category/12"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="12" src="/assets/images/goals-images/12.png" /></a>
        <a href="/Home/Category/13"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="13" src="/assets/images/goals-images/13.png" /></a>
        <a href="/Home/Category/14"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="14" src="/assets/images/goals-images/14.png" /></a>
        <a href="/Home/Category/15"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="15" src="/assets/images/goals-images/15.png" /></a>
        <a href="/Home/Category/16"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="16" src="/assets/images/goals-images/16.png" /></a>
        <a href="/Home/Category/17"><img class="col-lg-6 col-md-6 col-sm-4 col-xs-4" data-img-id="17" src="/assets/images/goals-images/17.png" /></a>






        @*<img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="01" src="~/assets/images/goals-images/I01.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="02" src="~/assets/images/goals-images/I02.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="03" src="~/assets/images/goals-images/I03.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="04" src="~/assets/images/goals-images/I04.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="05" src="~/assets/images/goals-images/I05.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="06" src="~/assets/images/goals-images/I06.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="07" src="~/assets/images/goals-images/I07.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="08" src="~/assets/images/goals-images/I08.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="09" src="~/assets/images/goals-images/I09.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="10" src="~/assets/images/goals-images/I10.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="11" src="~/assets/images/goals-images/I11.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="12" src="~/assets/images/goals-images/I12.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="13" src="~/assets/images/goals-images/I13.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="14" src="~/assets/images/goals-images/I14.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="15" src="~/assets/images/goals-images/I15.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="16" src="~/assets/images/goals-images/I16.png" />
        <img class="col-lg-6 col-md-6 col-sm-4 col-xs-6" onmouseover="changeOnImage(this);" onmouseout="changeOutImage(this);" data-img-id="17" src="~/assets/images/goals-images/I17.png" />*@

    </div>
</div>
